  .paragraph-section {
    flex: 1;
    min-width: 300px; /* O mínimo para garantir a responsividade */
    text-align: center;
    margin: 0;
    padding: 0;    
  }

  .paragraph-section p{
    font-size: 1.2rem;
  }

  .background-grey{
    background-color: #f0f0f0;
    color: black;
  }
  
  .background-blue{
    background-color: #4faaff;
    color: white;
  }
  