 .text-section {
    flex: 1;
    min-width: 300px; /* O mínimo para garantir a responsividade */
    text-align: start;
    padding-bottom: 20px;
  }
  
  .image-section {
    flex: 1;
    min-width: 300px; /* O mínimo para garantir a responsividade */
  }
  
  .image-section img {
    max-width: 400px;
    height: auto;
  }

  .button-section{
    padding-top: 20px;
  }

  .subtitle{
    font-size: 0.8rem;
    color: #359EFF;
  }

  @media (max-width: 1210px) {
    .image-section img {
      max-width: 70%;
      height: auto;
    }

    .button-section{
      display: flex;
      justify-content: center; /* centraliza horizontalmente */
      align-items: center; /* centraliza verticalmente */
    }

    .text-section {
      text-align: center;
    }
  }
  
  /* Media query para telas menores (tablets e celulares) */
  @media (max-width: 950px) {
    .image-section img {
      max-width: 90%;
      height: auto;
    }
  }

  